<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "RegressionTest">
    <test name="TC002_RegistrationPage">
        <classes>
            <class name="com.test.automation.uiautomation.registrationPage.TC002_RegistrationPage"></class>
        </classes>
        
        
    </test>
    
    
</suite>